<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
   <h1>URL SHOTRNER</h1> 

   <% if (locals.id) { %>
       <p>SHORTURL GENRERATED http://localhost:8001/url/<%= id %></p>
   <% } %>

   <div>
       <form method="POST" action = "/url">
            <label>Enter your original URL</label>
            <input type = "text" name="url" placeholder="www.example.com" />
            <button type ="submit">Generate</button>
       </form>
   </div>

   <div>
    <% if (locals.URLS) { %>
        <table>
            <tr>
               <thead>
                  <th>S.no</th>
                  <th>ShortId</th>
                  <th>RedirectUrl</th>
                  <th>Click</th>
               </thead>
               <tbody>
                   <% URLS.forEach((URLs , index) => { %>
                     <tr>
                         <td> <%=index + 1%></td>
                         <td> <%=URLs.shortId%></td>
                         <td> <%=URLs.redirectURL%></td>
                         <td> <%=URLs.visitHistory.length%></td>
                     </tr>   
                   <% }) %>
               </tbody>
             </tr>  
           </table>     
    <% } %>
   </div>
</body>
</html>